.banner-area {
    background-image:
            url(../img/catbanner2.jpg);
    /* Create the parallax scrolling effect */
    background-repeat: no-repeat;
    position: relative;
    /* background-attachment: fixed; */
    background-position: center center;
    background-size: cover;
    /* object-fit: contain; */
    height: 50vh;
    width:100%;
    padding-top: 90px;
    display: block;
}

.banner-text {
    font-size: 7rem;
    color: var(--white);
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#cart-add {
    margin: 3rem;
}

.nav-tabs, .nav-link, .nav-link.active{
    border: none !important;
    justify-content: center;
    color:var(--main-text);
    font-size: 2rem;
}
.nav-link{
    color:var(--main-text);
}
.nav-link:hover{
    color:var(--highlight-color);
}
.nav-link.active{
    color: var(--button-color) !important;
    border-bottom: 1.5px solid var(--soft-amber) !important;
}

/* collection */
body{
    background-color: var(--actual-white);
}

.collection-img:hover {
    display: block;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
.collection-img:hover .secondary-img{
    opacity: 1;
}

.secondary-img{
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: all 0.3s ease 0.1s;
    z-index: 1;

}
.product-name{
    color:var(--main-text);
    text-decoration: underline;
    font-size: 2em;
    padding-top: 1rem;
    margin: 0;
}

.description-container .product-name{
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 3rem;
}

.product-price{
    color: var(--button-color);
    font-size: 2.5em;
    justify-content: space-between;
}

.counter {
    width: 150px;
    display: flex;
    align-items: center;
}
.counter input {
    width: 50px;
    border: 0;
    line-height: 30px;
    font-size: 20px;
    text-align: center;
    color: var(--lochinvar);
    appearance: none;
    outline: 0;
    box-shadow: rgb(189, 193, 196) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.counter span {
    display: block;
    font-size: 3rem;
    padding: 0 1rem;
    cursor: pointer;
    color: var(--button-color);
    user-select: none;
}

.counter span:hover{
    color: var(--highlight-color);
    transform: scale(1.1);

}

.modal-content{
    border-radius: 1rem;
}
.container-fluid{
    display: flex;
}
.image-container{
    width: 50%;
}

.big-image{
    /* height:70%;
    width: 70%; */
    padding: 1rem;
    object-fit: contain;

}

.big-image img{
    height:100%;
    width: 100%;
    object-fit: fill;

}


.small-image{
    display: flex;
    object-fit: contain;
}

.small-image img{
    height:13rem;
    width: 13rem;
    object-fit: contain;
    cursor: pointer;
}

.description-container{
    width: 50%;
}


.text-container{
    font-size: 1.5em;
    margin-left: 1rem;
    margin-right: 1rem;
    text-transform: none;
}

.add-to-basket{
    display: flex;
    justify-content: end;
}

.descrip-quantity{
    display: flex;
    justify-content: space-evenly;
}

.fa-basket-shopping{
    margin-left: 1rem;
}


@media (max-width:992px){
    .small-image{
        width: 100%;
        margin-bottom: 2rem;
    }

    .small-image img{
        height: 7rem;
    }

}


@media (max-width:576px){
    .description-container{
        width: 100%;
    }

    .small-image{
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;
    }

    .small-image img{
        width: 100%;
        height: 15rem;
        object-fit: contain;
    }

    .image-container{
        width: 100%;
    }
    .big-image{
        height:auto;
    }
    .big-image img{
        height:auto;
        width: 100%;
        object-fit: contain;
    }

    .modal-body .container .row{
        display: flex;
        justify-content: center;
    }

    .product-price{
        color: var(--button-color);
        font-size: 2.5em;
        justify-content: space-around;
    }

}